<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= issue.title %>
    </h3>
  </div>
  <div class="panel-body">
    <%= issue.description %>
  </div>
</div>
