<div class="page-header">
  <h4><%= state.humanize %></h4>
</div>

<div id="issues-<%= state.dasherize %>" class="issues-board" data-state="<%= state %>">
  <%= render partial: 'issues/state_board_item', collection: issues.where(state: state).decorate, as: :issue %>
</div>
