<div class="row">
  <div class="col-md-12">
    <h2>
      <%= project.name %>
      <%= link_to 'Create Issue', new_project_issue_path(project), class: 'btn btn-primary pull-right' %>
    </h2>
  </div>
</div>

<div class="row">
  <% Issue.states.keys.each do |state| %>
    <div class="col-md-3 col-xs-6">
      <%= render partial: 'issues/state_board', locals: { issues: issues, state: state } %>
    </div>
  <% end %>
</div>
